/********SPACE INVADERS GAME CSS*******/
body {
  background:url("modern_space_bkground.jpg");
  position: fixed;
  font-family: 'VT323', monospace;
  color: white;
  font-size: 1.5rem;
}

#lives {
  position: absolute;
  left: 10%;
  height: 1rem;
}

.life {
  position: relative;
  height: 2rem;
  width: 2rem;

}

#timer {
  position: relative;
  top: 2rem;
  left: 45%;
  height: 2rem;
  width: 4rem;
}

#score {
  position: relative;
  top; 2rem;
  left: 72%;
}

.image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 1500px;
  height: 1500px;
  z-index: -5;
  position: relative;
  top: -30rem;
  left: -4rem;
  animation:spin 150s linear infinite;
  -webkit-animation:spin 150s linear infinite;
  -moz-animation:spin 150s linear infinite;
}

@keyframes spin {
  100% { -webkit-transform: rotateY(360deg);  transform:rotate(360deg); }
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

#canvas {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: rgba(71,74,83,.5);
}
