body {
  background: url("http://static.tumblr.com/e6c66693fd556d0238902201972d0600/z7sewyz/vwWo7w6i4/tumblr_static_7lsovhd013kssko4og8osc80k.gif");
}

body h1, h2, h3 {
  color: white;
  text-align: center;
}

#space-invaders {
  letter-spacing: 0.5rem;
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
}

#taken {
  font-size: 1.9rem;
  font-weight: bolder;
  color: rgb(201,50,16);
  text-shadow: .001rem .001rem white;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  /*Rotation CSS Code*/
  transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  margin-top: -1rem;
}

#liam-neeson {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(219,223,224);
  line-height: 0;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px rgb(249,61,61);
}

#app {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgb(151,153,158);
}
